h1 {
  color: #000; }

div {
  background-color: #dd00ff;
  font-size: 15px;
  width: 11px; }
  div h1 {
    color: #000; }

h5::after {
  content: '';
  font-size: 15px; }

abbr {
  font-size: 15px; }

h2 {
  tab-size: 15px;
  color: #dd00ff; }

